html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body{
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #E8E8E8;
  display: flex;
  flex-direction: column;
}
/* Menu Header*/
nav{
  display: flex;
  height: 45px;
  width: 100%;
  background-color: #222;
  color: #EEE;
}

nav ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0px;
  padding: 0px;
  width: 75%;
}

nav ul li{
  float: left;
  width: 10%;
  height: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a:hover:after{
width:100%;
background-color: rgba(255,255,255,.5);
}
nav .active a :after{
width:100%;
background-color: rgba(255,255,255,.5);
}

nav ul li a{
  color: #EEE;
  text-decoration: none;
}

nav ul li a:hover{
  color: #EEE;
  text-decoration: none;
}

.search-form{
  display: flex;
  width: 25%;
}

.search-form button{
  color: #EEE;
}

.search-form form{
  visibility: hidden;
}

.search-form form button{
  display: none;
}

/* Footer */
footer{
  background-color: #f7f7f7;
  margin: 0;
  padding: 15px;
  font-size: 85%;
  color: #818a91;
}

/* Main header*/
main{

}

/* Pagination */
.pagination-container{
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    width: 110%;
}

/* Général */
.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px 15px 0 15px;
  background-color: #FFF;
  width: 75%;
  margin: 0 auto 0 auto;
}

/* Page index */
.article_en_une{
  flex-basis: auto;
  width: 48%;
  margin: .5%;
  border: 1px solid #818a91;
}
a{
  color: #014c8c;;
}

h2{
  text-align: center;
}

h2 > a{
  color: #333;
}

h2 > a:hover{
  text-decoration: none;
  color: #333;
}


.bd-footer{
  padding: 4rem 0;
/* margin-top: 4rem;*/
font-size: 85%;
background-color: #f7f7f7;
text-align: left;

}
.bd-footer-links li {
display: inline-block;
}
.bd-footer-links {
padding-left: 0;
margin-bottom: 1rem;
}

img.avatar{
  width: 4%;
  border-radius: 50%;
  float: left;
  margin-right: 5px;
}

.bg-inverse {
color: #eceeef;
background-color: #2F2E2E;
padding-bottom: 0%;
position: fixed;
width: 100%;
z-index: 1;
box-shadow: 0px 0px 5px black;
}
.navbar .nav.navbar-nav .nav-item:after{
content: '';
display: block;
margin: auto;
height: 3px;
width: 0px;
background: transparent;
transition: width .5s ease, background-color .5s ease;
}
.navbar .nav.navbar-nav .nav-item:hover:after{
width:100%;
background-color: rgba(255,255,255,.5);
}

.navbar .nav.navbar-nav .nav-item.active:after{
background-color:   #fff;
width: 100%;
}
.navbar-nav .nav-item {
float: left;
margin: 0%;
min-width: 5%  	body{
        		font-family: 'Source Sans Pro', sans-serif;
        		background-color: #E8E8E8;

        	}
        	h2{
        		text-align: center;
        	}
        	h2 > a{
        		color: #333;
        	}
        	h2 > a:hover{
        		text-decoration: none;
        		color: #333;
        	}
        	.bd-footer{
    		    padding: 4rem 0;
			   /* margin-top: 4rem;*/
			    font-size: 85%;
			    background-color: #f7f7f7;
			    text-align: left;

        	}
			.bd-footer-links li {
			    display: inline-block;
			}
			.bd-footer-links {
			    padding-left: 0;
			    margin-bottom: 1rem;
			}

			img.avatar{
				    width: 4%;
    				border-radius: 50%;
    				float:   <button class="search">
          <i class="fa fa-search"></i>
        </button>left;
    				margin-right: 5px;
			}

			.bg-inverse {
			    color: #eceeef;
			    background-color: #2F2E2E;
				padding-bottom: 0%;
				position: fixed;
			    width: 100%;
			    z-index: 1;
			    box-shadow: 0px 0px 5px black;
			}
			.navbar .nav.navbar-nav .nav-item:after{
				content: '';
				display: block;
				margin: auto;
				height: 3px;
				width: 0px;
				background: transparent;
				transition: width .5s ease, background-color .5s ease;
			}
			.navbar .nav.navbar-nav .nav-item:hover:after{
				width:100%;
				background-color: rgba(255,255,255,.5);
			}

			.navbar .nav.navbar-nav .nav-item.active:after{
				background-color:   #fff;
				width: 100%;
			}
			.navbar-nav .nav-item {
			    float: left;
			    margin: 0%;
			    min-width: 5%;
			    text-align: center;
			    padding-left: 0.5%;
			    padding-right: 0.5%;
			}

			.navbar-nav .nav-item+.nav-item {
    			margin-left: 0%
			}
			.lightbox{
			    padding-top: 5%;
			    padding-bottom: 5%;
			    width: 100%;
			    display: inline-block;
			    position: fixed;
			    z-index: 111;
			    background-color: rgba(21, 20, 20, 0.75);
			    overflow: hidden;
			    height: 100%;
			    text-align: center;
			}

			.lightbox > img{
				max-width: 100%;
				   /*font-weight: bold;*/
				    text-transform: uppercase;
			}max-height: 780px;
				margin:auto;
			}

			.search{
				background: none;
				border:none;
			}

			pre, code{
				background-color: #444;
			    color: #31b0d5;
			    padding: 10px;
			}


			.img-polaroid, .img-thumbnail {
				margin-right: 10px;
			}

			#mapid {
				height: 180px;
				position:relative;
				top:0;
				bottom:0;
				width:100%;
			}


			.article_en_une h2{
				    font-size: 21px;
				    /*font-weight: bold;*/
				    text-transform: uppercase;
			}

			.article_en_une img{
				width: 100%;
				max-height: 200px;
    			object-fit: cover;
			}

			@media screen and (max-width: 720px) {
				.navbar-nav .nav-item {
  					width:100%;
				}
				iframe, video{
					width:100%;
				}
				.bd-masthead{
					background-size: cover;
				}

			};
text-align: center;
padding-left: 0.5%;
padding-right: 0.5%;
}

.navbar-nav .nav-item+.nav-item {
margin-left: 0%
}
.lightbox{
padding-top: 5%;
padding-bottom: 5%;
width: 100%;
display: inline-block;
position: fixed;
z-index: 111;
background-color: rgba(21, 20, 20, 0.75);
overflow: hidden;
height: 100%;
text-align: center;
}

.lightbox > img{
max-width: 100%;
max-height: 780px;
margin:auto;
}

.search{
background: none;
border:none;
}

pre, code{
background-color: #444;
color: #31b0d5;
padding: 10px;
}


.img-polaroid, .img-thumbnail {
margin-right: 10px;
}

#mapid {
height: 180px;
position:relative;
top:0;
bottom:0;
width:100%;
}

.article_en_une h2{
  font-size: 21px;
  /*font-weight: bold;*/
  text-transform: uppercase;
}

.article_en_une img{
width: 100%;
max-height: 200px;
object-fit: cover;
}

@media screen and (max-width: 720px) {
.navbar-nav .nav-item {
  width:100%;
}
iframe, video{
width:100%;
}
.bd-masthead{
background-size: cover;
}

}
